[submodule "src/@shared/env-shared"]
	path = src/@shared/env-shared
	url = https://github.com/thefirstspine/env-shared
[submodule "src/@shared/auth-shared"]
	path = src/@shared/auth-shared
	url = https://github.com/thefirstspine/auth-shared
[submodule "src/@shared/log-shared"]
	path = src/@shared/log-shared
	url = https://github.com/thefirstspine/log-shared
[submodule "src/@shared/arena-shared"]
	path = src/@shared/arena-shared
	url = https://github.com/thefirstspine/arena-shared
[submodule "src/@shared/rest-shared"]
	path = src/@shared/rest-shared
	url = https://github.com/thefirstspine/rest-shared
[submodule "src/@shared/messaging-shared"]
	path = src/@shared/messaging-shared
	url = https://github.com/thefirstspine/messaging-shared
